{% extends "base.html" %}

{% block content%}

{% if cart.product.exists %}
<table class="table cart-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody class="cart-body">
  	{% for obj in cart.product.all %}
	    <tr class="cart-products">
	      <th scope="row">{{forloop.counter}}</th>
	      <td><a href="{{obj.get_absolute_url}}">{{obj.title}}</a></td>
	      <td>{{obj.price}}</td>
	      <td>{% include "carts/cart_remove_item.html" with product_id=obj.id %}</td>
	    </tr>
	{% endfor %}
	    <tr>
	      <td colspan="2"></td>
	      <td><b>Sub Total</b> <span class="cart-sub-total">{{cart.sub_total}}</span></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td colspan="2"></td>
	      <td><b>Total</b> <span class="cart-total">{{cart.total}}</span></td>
	      <td></td>
	    </tr>
	    <tr>
	      <td colspan="2"></td>
	      <td>
	      	<a class='btn btn-lg btn-success' href='{% url "carts:checkout" %}'>Checkout</a>
	      </td>
	      <td></td>
	    </tr>
  </tbody>
</table>

<div class="cart-remove-form" style="display:none;">
	{% include "carts/cart_remove_item.html" %}
</div>

{% else %}
	<p>Cart is empty</p>
{% endif %}
{% endblock%}