<form class="form-product-ajax form aaa" method="POST" action="{% url 'carts:update' %}" data-endpoint="{% url 'carts:update' %}"> {% csrf_token %}
	<input class="remove_button" type="hidden" name="product_id" value="{{product_id}}">
	<button type="submit" class="btn btn-link">remove</button>
</form>