{% extends "base.html" %}

{% block content %}

{% if billing_profile %}
	{% if not object.shipping_address %}
		<div class='row'>
			<div class='col-10 col-md-6 mx-auto'>
				<p class='lead'>Shipping Address</p>
				<hr/>
				<div class='row'>
					<div class="col">
						{% url 'address_checkout' as address_checkout_url %}
						{% include "addresses/snippets/form.html" with form=address_form next_url=request.build_absolute_uri active_url=address_checkout_url address_type='shipping' %}
					</div>
					<div class="col">
						{% url 'address_reuse' as reuse_address_url %}
						{% include "addresses/snippets/pre_addresses.html" with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=reuse_address_url %}
					</div>
				</div>
			</div>
		</div>
	{% elif not object.billing_address %}
		<div class='row'>
			<div class='col-10 col-md-6 mx-auto'>
				<p class='lead'>Billing Address</p>
				<hr/>
				<div class="row">
					<div class="col">
						{% url 'address_checkout' as address_checkout_url %}
						{% include "addresses/snippets/form.html" with form=address_form next_url=request.build_absolute_uri active_url=address_checkout_url address_type='billing' %}
					</div>
					<div class="col">
						{% url 'address_reuse' as reuse_address_url %}
						{% include "addresses/snippets/pre_addresses.html" with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=reuse_address_url %}
					</div>
				</div>
			</div>
		</div>
	{% else %}
		{% if not has_card %}
			<!-- {% include "billing/payment.html" with pub_key=pub_key next_url=request.build_absolute_uri %} -->
			<div class='stripe-payment-form' data-token={{pub_key}} data-next-url='{{request.build_absolute_uri}}' data-btn-title="Add Payment Method"></div>
		{% else %}
			<h1>Finalize Checkout</h1>
			<p>Cart Items: {% for obj in object.cart.product.all %}{{obj}}{% if not forloop.last %},{% endif %}{% endfor %}</p>
			<p>Shipping Address : {{object.shipping_address.get_address}}</p>
			<p>Billing Address : {{object.billing_address.get_address}}</p>
			<p>Cart Price :  {{object.cart.total}}</p>
			<p>Payment Method :  {{billing_profile.default_card}} (<a href="{{billing_profile.get_payment_method_url}}?next={{request.build_absolute_uri}}">Change</a>)</p>
			<p>Shipping Price : {{object.shipping_total}}</p>
			<p>Total Price : {{object.total}}</p>
			<form method='POST', action=''>{% csrf_token %}
				<button type='submit'>Checkout</button>
			</form>
		{% endif %}
	{% endif %}
{% else %}
	<div class='row text-center'>
		<div class='col-12 col-md-6'>
			<p class='lead'>Login</p>
			{% include "accounts/snippets/checkout_login_form.html" with form=login_form next_url=request.build_absolute_uri %}
		</div>
		<div class='col-12 col-md-6'>
			<p class='lead'>Continue as Guest</p>
			{% url 'guest_register' as guest_url %}
			{% include "accounts/snippets/checkout_login_form.html" with form=guest_form next_url=request.build_absolute_uri active_url=guest_url %}
		</div>
	</div>
{% endif %}
{% endblock%}