{% verbatim %}
<script id="stripeTemplate" type="text/x-jsrender">

<form class="payment-form" action="/charge" method="post" id="payment-form" data-token={{:pubKey}} data-next-url={{:nextUrl}}>
  <div class="form-row">
    <!-- <label for="card-element">
      Add Payment Method
    </label> -->
    <div id="card-element" class='form-control'>
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button class='btn btn-primary my-3'>{{:addTitle}}</button>
</form>

</script>
{% endverbatim %}