{% url 'accounts' as account_url %}
{% url 'carts:home' as cart_url %}
{% url 'contact' as contact_url %}
{% url 'home' as home_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'products:list' as product_url %}
{% url 'register' as register_url %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class='container'>
  <a class="navbar-brand" href="{% url 'home' %}">#GET-IT
    <img src="https://getbootstap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarCollapseLinks">
    <ul class="navbar-nav">
      <li class="nav-item {% if request.path == home_url %} active {% endif %}">
        <a class="nav-link" href="{{home_url}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == contact_url %} active {% endif %}">
        <a class="nav-link" href="{{contact_url}}">Content</a>
      </li>
      <li class="nav-item {% if request.path == product_url %} active {% endif %}">
        <a class="nav-link" href="{{product_url}}">Products</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item {% if request.path == account_url %}active{% endif %}" href="{{ account_url }}">Home</a>
          <a class="dropdown-item" href="">Billing</a>
          <a class="dropdown-item" href="">History</a>
          <a class='dropdown-item' href="">Library</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ logout_url }}">Logout</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item {% if request.path == register_url %} active {% endif %}">
          <a class="nav-link" href="{{register_url}}">Register</a>
        </li>
        <li class="nav-item {% if request.path == login_url %} active {% endif %}">
          <a class="nav-link" href="{{login_url}}">Login</a>
        </li>
      {% endif %}
      <li class="nav-item {% if request.path == cart_url %} active {% endif %}">
          <a class="nav-link" href="{{cart_url}}">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span class="cart-count-span">{{request.session.cart_items}}</span>
          </a>
            
          </a>
        </li>
    </ul>
  </div>
  {% include "search/snippets/search-form.html" %}
</div>
</nav>