<form class="form-product-ajax form" method="POST" action="{% url 'carts:update' %}" data-endpoint="{% url 'carts:update' %}"> {% csrf_token %}
	<input type="hidden" name="product_id" value="{{product_obj.id}}">
		<span class="submit-span">
			{% if product_obj in cart.product.all %}
				In Cart <button class="btn" type="submit">Remove From Cart</button>
			{% else %}
				<button class="btn btn-success" type="submit">Add To Cart</button>
			{% endif %}
		</span>
</form>