{% extends "base.html" %}

{% block content %}

<div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
         <h1>Order {{ object.order_id }}</h1>
          <hr/>
    </div>
</div>

<div class='row'>
    <div class='col-12 col-md-6 mx-auto'>
<p>Items: {% for product in object.cart.product.all %}{{ product }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
<p>Shipping Address: {{ object.shipping_address }}</p>
<p>Billing Address: {{ object.billing_address }}</p>
<p>Subtotal: {{ object.cart.total }}</p>
<p>Shipping Total: {{ object.shipping_total }}</p>
<p>Order Total: {{ object.total }}</p>
<p>Order Status: {{ object.status }}</p>
</div>


{% endblock %}