{% extends "base.html" %}


{% block content %}

<div class='row' mb-3>
	{% if query %}
		<div class='col-10'>
			Results for <b>{{query}}</b>
			<hr/>
		</div>
	{% else %}
		<div class='col-10 col-md-6 mx-auto py-5'>
			{% include "search/snippets/search-form.html"%}
		</div>
		<div class='col-10'>
			<hr/>
		</div>
	{% endif %}
</div>


<div class='container'>
	<div class='row'>
	{% for obj in object_list %}
		<div class='col'>
			{% include "products/cards.html" with instance=obj %}
		</div>
	{% endfor %}
	</div>
</div>	

{% endblock %}