<form method='POST' action="{%if active_url %}{{active_url}}{% else %}{% url 'login' %}{% endif %}">{% csrf_token %}
	{% if next_url%}
		<input type="hidden" name="next" value={{next_url}}>
	{% endif %}
	{{form}}
	<button type='submit'>submit</button>
</form>