<form method="GET" action="{% url 'search:list' %}" class="form-inline search-form">
	<div class="input-group">
		<input class="form-control" name='q' value="{{request.GET.q}}" type="text" placeholder="Search" aria-label="Search">
		<span class="input-group-btn">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</span>
	</div>
</form>