{% extends "base.html" %}

{% block content %}
<div class='text-center'>
	<h1>{{title}}</h1>
<div class="container">
	<div class="row">
		<div class='col'>
			<h1><p>{{content}}</p></h1>
			<div class='col-sm-6 col-12 mx-auto'>
			<form class="contact-form" method="POST" action="{% url 'contact' %}"> {% csrf_token %}
				{{ form.as_p }}
				<button class="contact-submit" type="submit">submit</button>
			</form>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}