{% load static %}

<!doctype html>
<html lang="en">
  <head>
	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title># GET-IT</title>
	    {% include "base/css.html" %}
	</head>
	<body>
		{% include "base/nav-bar.html" %}
		<div class='container'>
			{% block content %}{% endblock %}
		</div>
		{% include "base/js.html" %}
	</body>