{% extends 'base.html' %}

{% block content %}

<div class='col-10 col-md-6 mx-auto'>
	<h1> Add Payment Method </h1>
	<div class='stripe-payment-form' data-token={{pub_key}} data-next-url='{% if next_url %}{{next_url}}{% endif %}' data-btn-title="Add Card"></div>
</div>

{% endblock %}