<div class="card" style="width: 18rem;">
  <h5 class="card-title mx-auto">{{instance.title}}</h5>
  <img class="card-img-top" src="{{instance.image.url}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"></p>
    <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-primary">view</a>
    {% include "products/snippets/update_cart.html" with product_obj=obj cart=cart %}
  </div>
</div>