{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-8">
		{{ object.title }} </br>
		<img src="{{ object.image.url }}">	</br>
		Price : {{ object.price }} </br>
	</div>
	<div class="col-2">
		{% include "products/snippets/update_cart.html" with product_obj=object cart=cart %}
	</div>
</div>

{% endblock %}