{% extends "base.html" %}


{% block content %}
<div class='container'>
	<div class='row'>
	{% for obj in object_list %}
		<div class='col'>
			{% include "products/cards.html" with instance=obj cart=cart %}
		</div>
	{% endfor %}
	</div>
</div>	

{% endblock %}